/* Global Area */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: #0d1117;
    color: #c9d1d9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
main-content {
    width: 600px;
    text-align: center;
}
/* 4. Search Box Design */
.search-box {
    background-color: #161b22;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 1px solid #30363d;
}
input {
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    border: none;
    outline: none;
}
button {
    padding: 10px 20px;
    background-color: #238636;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.card {
    background-color: #161b22;
    border: 1px solid #30363d;
    border-radius: 20px;
    padding: 2rem;
    display: flex; /* Photo left, Text right */
    align-items: center;
    text-align: left;
    margin-bottom: 20px;
}
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%; /* Photo Gol */
    border: 5px solid #238636;
    margin-right: 20px;
}
.user-info h2 {
    margin-bottom: 10px;
}
.info {
    list-style: none; /* Bullets hataye */
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 20px;
    width: 300px;
}
.repo {
    display: inline-block;
    background-color: #21262d;
    color: #58a6ff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.8rem;
    border: 1px solid #30363d;
}

.repo:hover {
    background-color: #30363d; /* Hover effect */
}